# Copy this file to `.env` and fill values. DO NOT commit your `.env` file.

# MySQL container
MYSQL_ROOT_PASSWORD=changeme
MYSQL_PASSWORD=changeme
MYSQL_DATABASE=netbook_db
MYSQL_USER=netbook_user

# Backend / Spring
DB_USER=netbook_user
DB_PASSWORD=changeme
JDBC_URL=jdbc:mysql://localhost:3307/netbook_db?serverTimezone=UTC
JWT_SECRET=changeme
