<div class="registro-container">  
<h2>Registro NetBook</h2>  
<form [formGroup]="registroForm" (ngSubmit)="onSubmit()">  
<div><label>Nombre: </label><input type="text" formControlName="nombre"></div>  
<div><label>Email: </label><input type="email" formControlName="email"></div>  
<div><label>Password: </label><input type="password" formControlName="password"></div>  
<button type="submit" [disabled]="registroForm.invalid">Registrarse</button>  
</form>  
<p>¿Ya tienes cuenta? <a routerLink="/login">Inicia sesión</a></p>  
</div> 
